service gsid /system/bin/gsid
    oneshot
    disabled
    user root
    group root

on post-fs
    mkdir /metadata/gsi
    chmod 0700 /metadata/gsi

on boot
    exec - gsid gsid -- /system/bin/gsid run-startup-tasks
